.error {

	h1 {
		font-family: josefin_sanssemibold;
		color: #c19779;
		font-size: 3rem;
		margin-top: 75px;
		text-transform: uppercase;

	}

	section.thanks {

		p:first-of-type {
			font-size: 1.75rem;
			margin-top: 50px;
		}
	}
}