/* ==========================================================================
    FRAMEWORK STYLES
   ========================================================================== */

$containerWidth :   1280px;
$columnWidth :      3.333333; //In percent
$column :           12; //Twelve columns
$columnGutter   : (100 - ($columnWidth * $column)) / ($column - 1);
