/* ==========================================================================
    NAVIGATION STYLES
   ========================================================================== */

// Framework Override
header {
	.col {
		min-height: 0px;
	}
}

/* Mobile Menu Styles */
.mobile-menu-btn{
    position:fixed;
    top:0;
    right:0;
    z-index:7;
    width:100%;
    background:none;
    @include transition(background 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
    /*Changes styles based off of sticky state */
    .nav-scrolled &{
        @include transition(background 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
        background:#1b1b1b;
        img{
            opacity:1;
            @include transition(opacity 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
        }
    }
    @include small-desktop{
        display:none;
    }
    img{
        opacity:0;
        @include transition(opacity 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
        position:fixed;
        top:20px;
        left:10px;
        max-width:150px;
        @include tablet-portrait{
            left:2rem;
            max-width:200px;
        }
    }
    a{
        padding:10px;
        width:53px;
        height:53px;
        display:block;
        color:#fff;
        position:relative;
        float:right;
        &:before{
            position:absolute;
            left:50%;
            top:50%;
            margin-left:-12px;
            margin-top:-12px;
            font-size:1.6rem;
        }
        &.open{
            &:before{
                content: "\e902";
            }
        }
    }
}
.nav-open {
    .mobile-menu-btn {
        img {
            opacity: 1;
        }
    }
}
/* Main Navigation Styles */
.main-navigation{
    .homepage &{
        ul{
            li{
                a{
                    -webkit-animation: fade-offset2 1s ease-in 2s forwards;
                            animation: fade-offset2 1s ease-in 2s forwards;
                }
            }
        }
    }
    @include transition(opacity 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
    z-index:-99;
    background: rgba(27, 27, 27, 0);
    top:0;
    width:100%;
    height:0;
    padding:0;
    //@include transition(.2s linear);
    @include small-desktop{
        position:fixed;
        display:block;
        // opacity:1;
        height:auto;
        background:none;
        z-index:2;
        padding:0;
        @include transition(all 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
    }
    /*Changes styles based off of sticky state */
    .nav-scrolled &{
        @include small-desktop{
            @include transition(background 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
            background:#000;
            opacity:0.8;
            z-index:6;
        }
    }
    ul{
        text-align:center;
        @include small-desktop{
            display: grid;
            grid-template-columns: 5% repeat(6, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            align-items: center;
            justify-items: center;
        }
        li{
            @include small-desktop{
                @include inline-block;
                // width:19%;
                &:first-child{
                    width:5%;
                }
            }
            &:nth-child(4) {
                a {
                    background: url('../images/content/journal_single.png') no-repeat center center;
                    background-size: 126px; 
                    text-indent: -9999px;
                    width: 126px;
                    height: auto;
                    margin: auto;
                    &:hover {
                        background: url('../images/content/journal_single_hover.png') no-repeat center center;
                        background-size: 126px; 
                    }
                }
            }
            a{
                /* Hidden by default - Delay compared to container */
                opacity:0;
                @include transition(opacity 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
                @include transition(color 150ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
                font-family:$fontNav;
                @include font-size(1rem, $fontSizeNavDesktop, $fontSizeNavDesktop);
                text-transform:uppercase;
                display:block;
                width:100%;
                padding:1rem 0;
                color:#fff;
                letter-spacing: 0.0625rem;
                text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
                -webkit-animation: fade-offset2 1s ease-in 2s forwards;
                animation: fade-offset2 1s ease-in 2s forwards;
                @include phone-landscape{
                    padding:1rem;
                    font-size:0.75rem;
                }
                @include tablet-portrait{
                     padding:1rem 0;
                     font-size:$fontSizeNavDesktop;
                }
                @include small-desktop{
                    width:auto;
                }
                &:hover{
                    @include transition(color 150ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
                    color: rgba(255,255,255,0.6);
                }
                &:before{
                    font-size:2rem;
                    display:none;
                    @include small-desktop{
                        display:block;
                    }
                }
                span{
                    font-family:$fontNav;
                    color:#fff;
                    @include transition(color 150ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
                    &:hover{
                        @include transition(color 150ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
                        color:#a1a1a1;
                    }
                    @include small-desktop{
                        display:none;
                    }
                }
            }
        }
    }
    &.open{
        /* Show on open class */
        height:100vh;
        padding:7rem 0;
        position:fixed;
        z-index:6;
        opacity:1;
        background: rgba(27, 27, 27, 1);
        @include transition(opacity 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
        @include phone-landscape{
            padding:4rem 0;
        }
        ul{
            li{
                a{
                    /* Show on open class */
                    opacity:1;
                    @include transition(opacity 600ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
                }
            }
        }
    }
    &.nav-up {
        top: -64px;
        @include transition(top 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
    }
    &.nav-down {
        top: 0;
        @include transition(top 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860));
    }
}
.auction-active {
    .main-navigation.nav-up {
        top: 0;
        transition: background .3s cubic-bezier(.785,.135,.15,.86);
        background: #000;
    }
}
