/* ==========================================================================
    TERMS OF USE STYLES
   ========================================================================== */

.terms-of-use {
	background: #fff;
	.container {
		padding-top: 50px;
		padding-bottom: 50px;
		max-width: 830px;
		margin: auto;
	}
	h2 {
		font-family: josefin_sansregular;
		color: #c19779;
		margin-top: 25px;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 1.1875rem;
		line-height: 1.375rem;
		&:first-of-type {
			margin-top: 0;
		}
	}
	a {
		color: #c19779;
		font-family: source_sans_proregular;
		@include transition(0.2s linear);
		&:hover {
			color: lighten(#c19779, 15%);
		}
	}
	p {
		margin-bottom: 15px;
		line-height:1.1875rem;
		&.heading {
			// color: #c19779;
		}
	}
	ul {
		font-family: source_sans_proregular;
		font-size: 1rem;
		li {
			list-style: disc;
			margin-left: 20px;
		}
	}
}